<div class='auth-header'>
  <h2>Change Password for <b>{{changePasswordPostPayload.username}}</b></h2>
  <p>Update your account password below</p>
</div>
<form method='post' action='{{postUrl}}'>
  <input
    type='hidden'
    name='username'
    value='{{changePasswordPostPayload.username}}'
  />
  <input
    type='hidden'
    name='redirect'
    value='{{changePasswordPostPayload.redirect}}'
  />

  {{#if messages.error.changePasswordError}}
    <div
      class='alert alert-danger'
    >{{messages.error.changePasswordError.msg}}</div>
  {{/if}}

  {{#if messages.success}}
    <div class='alert alert-success'>{{messages.success}}</div>
  {{/if}}

  <div class='mb-3'>
    <label for='CurrentPassword' class='form-label'>Current Password</label>
    <input
      type='password'
      autocomplete='current-password'
      name='currentPassword'
      class='form-control'
      id='CurrentPassword'
      required
    />
    {{#if messages.error.currentPassword}}
      <div
        class='alert alert-danger'
      >{{messages.error.currentPassword.msg}}</div>
    {{/if}}
  </div>

  <div class='mb-3'>
    <label for='NewPassword' class='form-label'>New Password</label>
    <p class='helper-text'>Choose a password with at least 8 characters</p>
    <input
      type='password'
      autocomplete='new-password'
      name='newPassword'
      class='form-control'
      id='NewPassword'
      minlength='8'
      required
    />
    {{#if messages.error.newPassword}}
      <div class='alert alert-danger'>{{messages.error.newPassword.msg}}</div>
    {{/if}}
  </div>

  <div class='mb-3'>
    <label for='ConfirmPassword' class='form-label'>Confirm New Password</label>
    <input
      type='password'
      autocomplete='new-password'
      name='confirmPassword'
      class='form-control'
      id='ConfirmPassword'
      required
    />
    {{#if messages.error.confirmPassword}}
      <div
        class='alert alert-danger'
      >{{messages.error.confirmPassword.msg}}</div>
    {{/if}}
  </div>

  <div class='button-container'>
    <button type='submit' class='auth-button'>Change Password</button>
    <a
      href='{{changePasswordPostPayload.redirect}}'
      class='auth-button-outline'
    >Cancel</a>
  </div>
</form>