<div class="container">

<h1>Manage Users</h1>

<p>This page allows you to add or remove the cluster admin or
  notebook creation roles 
  for individual users.  Note that cluster admins can perform any task
  on the server. Notebook Creation permission allows the user to
  make new notebooks that they will then be admin users on.
</p>

<div id="message">&nbsp;</div>

<table class="table">
    <thead>
      <th>Name</th>
      <th>Create Notebooks</th>
      <th>Cluster Admin</th>
    </thead>
    <tbody>
    {{#each users}}
     <tr>
      <th>{{this.name}} ({{this.username}})</th>
        <td>
          <input type="checkbox" 
            class="form-check-input" 
            value="{{this.name}}"
            data-username="{{this.username}}"
            data-role="notebook-creator"
            {{#if this.can_create_notebooks}}checked{{/if}}>
        </td>
        <td>
          <input type="checkbox" 
            class="form-check-input" 
            value="{{this.name}}"
            data-username="{{this.username}}"
            data-role="cluster-admin"
            {{#if this.is_cluster_admin}}checked{{/if}}>
        </td>
      </tr>
    {{/each}}
    </tbody>
</table>

</div>

<script>
function toggleRole(event) {
  const target = event.target;
  const url = `/api/users/${target.dataset.username}/admin`;
  const data = {
    addrole: target.checked,  // true/false
    role: target.dataset.role
  }
  fetch(url, {
    method: 'POST',
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data)
  })
  .then(async (response) => {
      if (response.status === 200) {
        document.getElementById('message').innerHTML = `User ${target.dataset.username} status changed`;
        setInterval(() => {
          document.getElementById('message').innerHTML = "&nbsp;";
        }, 2000)
      } else {
        const data = await response.json();
        console.log(data);
        document.getElementById('message').innerHTML = data.error;
        setInterval(() => {
          document.getElementById('message').innerHTML = "&nbsp;";
        }, 2000)
      }
  });
}

const inputs = document.getElementsByClassName('form-check-input')

for(let i=0; i<inputs.length; i++) {
  inputs[i].onclick = toggleRole;
}
</script>