<div class='auth-header'>
  <h2>Reset Password</h2>
  {{#if !hasLocalProfile}}
    <h3>You do not have a local account to reset your password.  Please contact
      your administrator for assistance.
    </h3>
  {{else}}
  <p>Enter your email address below and we'll send you instructions to reset your password.</p>
  {{/if}}
</div>

{{#if !hasLocalProfile}}
  <form method='post' action='{{postUrl}}'>
    {{#if messages.error.forgotPasswordError}}
      <div class='alert alert-danger'>{{messages.error.forgotPasswordError.msg}}</div>
    {{/if}}
    
    {{#if messages.success}}
      <div class='alert alert-success'>{{messages.success}}</div>
    {{/if}}

    <div class='mb-3'>
      <label for='EmailInput' class='form-label'>Email Address</label>
      <input
        type='email'
        autocomplete='email'
        name='email'
        class='form-control'
        id='EmailInput'
        value='{{messages.email}}'
        placeholder='Enter your email address'
        required
      />
      {{#if messages.error.email}}
        <div class='alert alert-danger'>{{messages.error.email.msg}}</div>
      {{/if}}
    </div>

    <div class='button-container'>
      <button type='submit' class='auth-button'>Reset Password</button>
      <a href='/login' class='auth-button-outline'>Back to Login</a>
    </div>
  </form>
{{/if}}