<div class='auth-header'>
  <h2>Reset Password</h2>
  <p>Enter your email address below and we'll send you instructions to reset your password.</p>
</div>

<form method='post' action='{{postUrl}}' data-testid='conductor-forgot-form'>
  {{#if messages.error.forgotPasswordError}}
    <div class='alert alert-danger'>{{messages.error.forgotPasswordError.msg}}</div>
  {{/if}}
  
  {{#if messages.success}}
    <div class='alert alert-success' data-testid='conductor-forgot-success'>{{messages.success}}</div>
  {{/if}}

  <div class='mb-3'>
    <label for='EmailInput' class='form-label'>Email Address</label>
    <input
      type='email'
      autocomplete='email'
      name='email'
      maxlength='254'
      class='form-control'
      id='EmailInput'
      data-testid='conductor-forgot-email-input'
      value='{{messages.email}}'
      placeholder='Enter your email address'
      required
    />
    {{#if messages.error.email}}
      <div class='alert alert-danger'>{{messages.error.email.msg}}</div>
    {{/if}}
  </div>

  <div class='button-container'>
    <button type='submit' class='auth-button' data-testid='conductor-forgot-submit'>Reset Password</button>
    <a href='/login' class='auth-button-outline'>Back to Login</a>
  </div>
</form>
