{{#if messages.message}}
  <div class='alert alert-warning' data-testid="warning-message">{{messages.message}}</div>
{{/if}}
{{#if messages.success}}
  <div class='alert alert-success' data-testid="success-message">{{messages.success}}</div>
{{/if}}
<div class='auth-header' data-testid="auth-header">
  <h2>Welcome</h2>
  <p>Sign in to continue</p>
</div>
{{#if localAuth}}
  <form method='post' action='{{postUrl}}' data-testid="login-form">
    <input
      type='hidden'
      name='redirect'
      value='{{localLoginPostPayload.redirect}}'
    />
    <input
      type='hidden'
      name='inviteId'
      value='{{localLoginPostPayload.inviteId}}'
    />
    <input
      type='hidden'
      name='action'
      value='{{localLoginPostPayload.action}}'
    />
    <div class='mb-3'>
      <label for='InputIdentifier' class='form-label'>Email Address</label>
      <input
        type='text'
        name='email'
        class='form-control'
        id='InputIdentifier'
        data-testid="email-input"
        autocomplete='email'
        required
      />
      {{#if messages.error.email}}
        <div class='alert alert-danger' data-testid="email-error">{{messages.error.email.msg}}</div>
      {{/if}}
    </div>
    <div class='mb-3'>
      <label for='InputPassword' class='form-label'>Password</label>
      <input
        type='password'
        name='password'
        class='form-control'
        id='InputPassword'
        data-testid="password-input"
        autocomplete='current-password'
        required
      />
      {{#if messages.error.password}}
        <div class='alert alert-danger' data-testid="password-error">{{messages.error.password.msg}}</div>
      {{/if}}
      <div class="forgot-password">
        <a href="/forgot-password{{#if localLoginPostPayload.redirect}}?redirect={{localLoginPostPayload.redirect}}{{/if}}" class="auth-link" data-testid="forgot-password-link">Forgot password?</a>
      </div>
    </div>
    <button type='submit' class='auth-button' data-testid="login-submit-button">Sign in</button>
    {{#if messages.error.loginError}}
      <div class='alert alert-danger' data-testid="login-error">{{messages.error.loginError.msg}}</div>
    {{/if}}
  </form>
{{/if}}
{{#if (and localAuth providers)}}
  <div class='divider' data-testid="divider">
    <span>or</span>
  </div>
{{/if}}
{{#if providers}}
  <div class='sso-options' data-testid="sso-options">
    {{#each providers}}
      <a href='{{this.targetUrl}}' class='auth-button-outline' data-testid="sso-provider-{{this.id}}">
        <i class='bi bi-{{this.id}}' style='margin-right: 8px;'></i>
        Continue with
        {{this.name}}
      </a>
    {{/each}}
  </div>
{{/if}}