<div class='auth-header'>
  <h2>Reset Your Password</h2>
  <p>Please enter your new password below.</p>
</div>

<form method='post' action='{{postUrl}}'>
  <input type='hidden' name='code' value='{{resetCode}}' />
  <input type='hidden' name='redirect' value='{{redirect}}' />

  {{#if messages.error.resetPasswordError}}
    <div class='alert alert-danger'>{{messages.error.resetPasswordError.msg}}</div>
  {{/if}}
  
  {{#if messages.success}}
    <div class='alert alert-success'>{{messages.success}}</div>
  {{/if}}

  <div class='mb-3'>
    <label for='NewPassword' class='form-label'>New Password</label>
    <p class='helper-text'>Choose a password with at least 10 characters</p>
    <input
      type='password'
      autocomplete='new-password'
      name='newPassword'
      class='form-control'
      id='NewPassword'
      minlength='10'
      required
    />
    {{#if messages.error.newPassword}}
      <div class='alert alert-danger'>{{messages.error.newPassword.msg}}</div>
    {{/if}}
  </div>

  <div class='mb-3'>
    <label for='ConfirmPassword' class='form-label'>Confirm New Password</label>
    <input
      type='password'
      autocomplete='new-password'
      name='confirmPassword'
      class='form-control'
      id='ConfirmPassword'
      required
    />
    {{#if messages.error.confirmPassword}}
      <div class='alert alert-danger'>{{messages.error.confirmPassword.msg}}</div>
    {{/if}}
  </div>

  <div class='button-container'>
    <button type='submit' class='auth-button'>Reset Password</button>
    <a href='/login' class='auth-button-outline'>Back to Login</a>
  </div>
</form>